.container{
  padding: 10px 30px;
}

#logo{
  width: 75px;
  vertical-align: middle;
}

h1{
  a{
    float: right;
    font-size: 16px;
    line-height: 75px;
    outline: none;
    text-decoration: none;
    color: black;
  }

  a:hover{
    color: darkblue;
  }
}

.section {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
}

.lbl-add-task {
  padding: 15px 0;
  color: gray;
  border-bottom: none;
  cursor: pointer;

  span{
    margin-left: 5px;
    margin-right: 10px;
    padding: 2px;
    display: inline-flex;
    border: none;
    position: static;
    border-radius: 50%;

    svg{
      visibility: visible;
    }

  }

  &:hover span{
    background-color: red;
    color: white;
  }
}
