:host {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

img {
  width: 100px;
}

.container {
  border: 1px solid lightgray;
  border-radius: 10px;
  line-height: 1.5;
  padding: 30px 30px 5px;
  text-align: center;

  button {
    border-radius: 5px;
    border-style: none;
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 50%;

    &.sign-in:hover {
      background-color: limegreen;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    }

    &.sign-in {
      background-color: forestgreen;
      padding: 10px;
    }

    &.sign-in:disabled {
      background-color: lightgray;
    }
  }
}

.form-group {
  padding: 5px;

  label,
  input {
    display: block;
    font-size: 14px;
    margin: 2px;
    padding: 2px;
    text-align: center;
    width: 100%;
  }

  label {
    color: darkblue;
  }

  input {
    border: 1px solid lightgray;
    border-radius: 5px;
    outline: none;
    padding: 5px;
  }

  input:focus {
    border: 2px solid dodgerblue;
  }

  small {
    display: block;
  }
}
