<div class="container">
  <h1>To-do list App</h1>
  <p>
    Welcome to To-do list App. <br>
    Please enter your login credentials to sign in.
  </p>
  <div class="form-group">
    <label for="txt-username">Username</label>
    <input id="txt-username" type="text" placeholder="">
  </div>
  <div class="form-group">
    <label for="txt-password">Password</label>
    <input id="txt-password" type="password" placeholder="">
  </div>
  <div class="form-group">
    <button class="sign-in">Sign In</button>
  </div>
</div>
